n8n/video-analysis-workflow.json
{
  "name": "Video Performance Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-analyze",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Step 1: Download video from URL and upload to OpenAI Files API\nconst data = $input.first().json.body;\nconst openaiApiKey = $env.OPENAI_API_KEY;\n\nif (!openaiApiKey) throw new Error('OPENAI_API_KEY environment variable is not set');\nif (!data.videoUrl) throw new Error('videoUrl is required');\n\n// Download the video\nconst videoResponse = await fetch(data.videoUrl);\nif (!videoResponse.ok) throw new Error(`Failed to download video: ${videoResponse.status}`);\nconst videoBlob = await videoResponse.blob();\n\n// Derive a clean filename\nconst rawFilename = data.videoUrl.split('/').pop()?.split('?')[0] || 'video.mp4';\nconst filename = rawFilename.includes('.') ? rawFilename : rawFilename + '.mp4';\n\n// Upload to OpenAI Files API with purpose=vision\nconst formData = new FormData();\nformData.append('file', videoBlob, filename);\nformData.append('purpose', 'vision');\n\nconst uploadResponse = await fetch('https://api.openai.com/v1/files', {\n  method: 'POST',\n  headers: { 'Authorization': `Bearer ${openaiApiKey}` },\n  body: formData\n});\n\nif (!uploadResponse.ok) {\n  const errBody = await uploadResponse.text();\n  throw new Error(`OpenAI file upload failed: ${uploadResponse.status} - ${errBody}`);\n}\n\nconst fileData = await uploadResponse.json();\nif (!fileData.id) throw new Error(`OpenAI file upload returned no id: ${JSON.stringify(fileData)}`);\n\nreturn [{\n  json: {\n    requestId: data.requestId,\n    videoUrl: data.videoUrl,\n    platform: data.platform,\n    targetAge: data.targetAge,\n    targetGender: data.targetGender,\n    targetTags: data.targetTags || [],\n    openaiFileId: fileData.id\n  }\n}];"
      },
      "id": "upload-to-openai",
      "name": "Upload to OpenAI Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Step 2: Use the OpenAI file_id to extract video tags and quality signals\nconst data = $input.first().json;\nconst openaiApiKey = $env.OPENAI_API_KEY;\n\nconst platformKpis = {\n  tiktok: ['Views', 'Likes', 'Comments', 'Shares', 'Watch Time', 'Completion Rate'],\n  instagram: ['Reach', 'Impressions', 'Likes', 'Comments', 'Saves', 'Shares'],\n  youtube: ['Views', 'Watch Time', 'Likes', 'Comments', 'CTR', 'Subscriber Gain']\n};\nconst kpis = platformKpis[data.platform] || platformKpis.tiktok;\n\nconst prompt = `You are a social media video analysis expert.\n\nTarget platform: ${data.platform}\nTarget audience age: ${data.targetAge}\nTarget audience gender: ${data.targetGender}\nTarget interests: ${(data.targetTags || []).join(', ') || 'none'}\nKPIs to evaluate: ${kpis.join(', ')}\n\nAnalyze this video and extract:\n1. Content tags (topics, themes, visual style, audio, mood)\n2. Production quality (lighting, editing, clarity)\n3. Hook strength (how engaging are the first 3 seconds)\n4. Audience relevance to the target demographic\n\nRespond ONLY with valid JSON (no markdown):\n{\n  \"tags\": [\"tag1\", \"tag2\"],\n  \"quality_score\": 75,\n  \"hook_strength\": 80,\n  \"audience_relevance\": 70,\n  \"content_summary\": \"brief description\"\n}`;\n\nconst response = await fetch('https://api.openai.com/v1/responses', {\n  method: 'POST',\n  headers: {\n    'Authorization': `Bearer ${openaiApiKey}`,\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    model: 'gpt-4.1',\n    input: [{\n      role: 'user',\n      content: [\n        { type: 'input_text', text: prompt },\n        { type: 'input_image', file_id: data.openaiFileId }\n      ]\n    }]\n  })\n});\n\nif (!response.ok) {\n  const errBody = await response.text();\n  throw new Error(`OpenAI Responses API (extract) failed: ${response.status} - ${errBody}`);\n}\n\nconst result = await response.json();\nconst content = result.output_text\n  || result.output?.[0]?.content?.[0]?.text\n  || result.choices?.[0]?.message?.content\n  || '';\n\nlet analysis;\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  analysis = JSON.parse(jsonMatch ? jsonMatch[0] : content);\n} catch (e) {\n  analysis = { tags: [], quality_score: 50, hook_strength: 50, audience_relevance: 50, content_summary: 'Parse error' };\n}\n\nreturn [{ json: { ...data, analysis } }];"
      },
      "id": "extract-tags",
      "name": "Extract Tags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "// Step 3: Predict KPI performance scores from the extracted analysis\nconst data = $input.first().json;\nconst openaiApiKey = $env.OPENAI_API_KEY;\n\nconst platformKpis = {\n  tiktok: ['Views', 'Likes', 'Comments', 'Shares', 'Watch Time', 'Completion Rate'],\n  instagram: ['Reach', 'Impressions', 'Likes', 'Comments', 'Saves', 'Shares'],\n  youtube: ['Views', 'Watch Time', 'Likes', 'Comments', 'CTR', 'Subscriber Gain']\n};\nconst kpis = platformKpis[data.platform] || platformKpis.tiktok;\nconst analysis = data.analysis || {};\n\nconst prompt = `You are a social media performance prediction expert for ${data.platform}.\n\nVideo analysis:\n- Summary: ${analysis.content_summary || 'N/A'}\n- Tags: ${(analysis.tags || []).join(', ') || 'N/A'}\n- Production quality: ${analysis.quality_score || 50}/100\n- Hook strength: ${analysis.hook_strength || 50}/100\n- Audience relevance: ${analysis.audience_relevance || 50}/100\n\nTarget audience:\n- Platform: ${data.platform}\n- Age: ${data.targetAge}\n- Gender: ${data.targetGender}\n- Interests: ${(data.targetTags || []).join(', ') || 'none'}\n\nFor each KPI, predict realistic performance for a new creator account posting this video:\n- predicted_value: realistic value with units (e.g. \"8.5K\", \"3.2%\", \"0:42\")\n- score: 0-100 (50=average, 80+=strong, 100=viral)\n- explanation: one sentence\n\nKPIs: ${kpis.join(', ')}\n\nRespond ONLY with valid JSON (no markdown):\n{\n  \"results\": [\n    { \"kpi_name\": \"Views\", \"predicted_value\": \"15.2K\", \"score\": 72, \"explanation\": \"Strong hook should drive above-average initial views.\" }\n  ]\n}`;\n\nconst response = await fetch('https://api.openai.com/v1/responses', {\n  method: 'POST',\n  headers: {\n    'Authorization': `Bearer ${openaiApiKey}`,\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    model: 'gpt-4.1',\n    input: [{ role: 'user', content: [{ type: 'input_text', text: prompt }] }]\n  })\n});\n\nif (!response.ok) {\n  const errBody = await response.text();\n  throw new Error(`OpenAI Responses API (score) failed: ${response.status} - ${errBody}`);\n}\n\nconst result = await response.json();\nconst content = result.output_text\n  || result.output?.[0]?.content?.[0]?.text\n  || result.choices?.[0]?.message?.content\n  || '';\n\nlet scoring;\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  scoring = JSON.parse(jsonMatch ? jsonMatch[0] : content);\n} catch (e) {\n  scoring = { results: [] };\n}\n\nreturn [{ json: { requestId: data.requestId, results: scoring.results || [] } }];"
      },
      "id": "score-kpis",
      "name": "Score KPIs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_CALLBACK_URL || 'http://localhost:3000'}}/api/webhook/results",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-callback",
      "name": "Callback to App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Upload to OpenAI Files", "type": "main", "index": 0 }]
      ]
    },
    "Upload to OpenAI Files": {
      "main": [
        [{ "node": "Extract Tags", "type": "main", "index": 0 }]
      ]
    },
    "Extract Tags": {
      "main": [
        [{ "node": "Score KPIs", "type": "main", "index": 0 }]
      ]
    },
    "Score KPIs": {
      "main": [
        [{ "node": "Callback to App", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
