n8n/video-analysis-workflow.json
{
  "name": "Video Performance Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-analyze",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    GEMINI_API_KEY: \"your-gemini-api-key-here\",\n    APP_CALLBACK_URL: \"http://localhost:3000\"\n  }\n}));"
      },
      "id": "secrets-node",
      "name": "Secrets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "inject-gemini-key",
              "name": "geminiApiKey",
              "value": "={{ $('Secrets').item.json.GEMINI_API_KEY }}",
              "type": "string"
            },
            {
              "id": "inject-request-id",
              "name": "requestId",
              "value": "={{ $json.body.requestId }}",
              "type": "string"
            },
            {
              "id": "inject-video-url",
              "name": "videoUrl",
              "value": "={{ $json.body.videoUrl }}",
              "type": "string"
            },
            {
              "id": "inject-platform",
              "name": "platform",
              "value": "={{ $json.body.platform }}",
              "type": "string"
            },
            {
              "id": "inject-target-age",
              "name": "targetAge",
              "value": "={{ $json.body.targetAge }}",
              "type": "string"
            },
            {
              "id": "inject-target-gender",
              "name": "targetGender",
              "value": "={{ $json.body.targetGender }}",
              "type": "string"
            },
            {
              "id": "inject-target-tags",
              "name": "targetTags",
              "value": "={{ $json.body.targetTags }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "inject-credentials",
      "name": "Inject Credentials",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.videoUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "download-video",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/upload/v1beta/files?uploadType=media&key=' + $('Inject Credentials').item.json.geminiApiKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            },
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "raw"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "upload-to-gemini",
      "name": "Upload to Gemini Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-for-processing",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build Gemini extract request using uploaded file URI\nconst uploadResult = $input.first().json;\nconst creds = $('Inject Credentials').item.json;\n\nconst fileUri = uploadResult.file?.uri;\nconst mimeType = uploadResult.file?.mimeType || 'video/mp4';\n\nif (!fileUri) throw new Error('No file URI from Gemini upload: ' + JSON.stringify(uploadResult));\n\nconst kpis = ['Impressions', 'Reach', 'CPM', 'CTR', 'CPC', 'Completion Rate', 'Conversions', 'CPA', 'ROAS', 'View Duration'];\n\nconst prompt = `You are a social media video analysis expert.\n\nTarget platform: ${creds.platform}\nTarget audience age: ${creds.targetAge}\nTarget audience gender: ${creds.targetGender}\nTarget interests: ${(creds.targetTags || []).join(', ') || 'none'}\nKPIs to evaluate: ${kpis.join(', ')}\n\nWatch this video carefully and extract:\n1. Content tags (topics, themes, visual style, audio, mood)\n2. Production quality (lighting, editing, clarity) - score 0-100\n3. Hook strength (how engaging are the first 3 seconds) - score 0-100\n4. Audience relevance to the target demographic - score 0-100\n\nRespond ONLY with valid JSON (no markdown):\n{\n  \"tags\": [\"tag1\", \"tag2\"],\n  \"quality_score\": 75,\n  \"hook_strength\": 80,\n  \"audience_relevance\": 70,\n  \"content_summary\": \"brief description\"\n}`;\n\nconst requestBody = JSON.stringify({\n  contents: [{\n    parts: [\n      { text: prompt },\n      { fileData: { mimeType, fileUri } }\n    ]\n  }],\n  generationConfig: { temperature: 0.3, maxOutputTokens: 1024 }\n});\n\nreturn [{\n  json: {\n    geminiApiKey: creds.geminiApiKey,\n    requestId: creds.requestId,\n    platform: creds.platform,\n    targetAge: creds.targetAge,\n    targetGender: creds.targetGender,\n    targetTags: creds.targetTags || [],\n    videoUrl: creds.videoUrl,\n    requestBody\n  }\n}];"
      },
      "id": "build-gemini-extract-request",
      "name": "Build Gemini Extract Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=' + $json.geminiApiKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "gemini-extract-tags",
      "name": "Gemini Extract Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Gemini extract response and build Score KPIs request\nconst apiResponse = $input.first().json;\nconst prevData = $('Build Gemini Extract Request').item.json;\n\nconst content = apiResponse.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\nlet analysis;\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  analysis = JSON.parse(jsonMatch ? jsonMatch[0] : content);\n} catch (e) {\n  analysis = { tags: [], quality_score: 50, hook_strength: 50, audience_relevance: 50, content_summary: 'Parse error' };\n}\n\nconst kpis = ['Impressions', 'Reach', 'CPM', 'CTR', 'CPC', 'Completion Rate', 'Conversions', 'CPA', 'ROAS', 'View Duration'];\n\nconst scorePrompt = `You are a social media performance prediction expert for ${prevData.platform}.\n\nVideo analysis:\n- Summary: ${analysis.content_summary || 'N/A'}\n- Tags: ${(analysis.tags || []).join(', ') || 'N/A'}\n- Production quality: ${analysis.quality_score || 50}/100\n- Hook strength: ${analysis.hook_strength || 50}/100\n- Audience relevance: ${analysis.audience_relevance || 50}/100\n\nTarget audience:\n- Platform: ${prevData.platform}\n- Age: ${prevData.targetAge}\n- Gender: ${prevData.targetGender}\n- Interests: ${(prevData.targetTags || []).join(', ') || 'none'}\n\nFor each KPI, predict realistic performance for a new creator account posting this video:\n- predicted_value: realistic value with units (e.g. \"8.5K\", \"3.2%\", \"$0.45\")\n- For \"View Duration\" specifically: return the value as an integer number of milliseconds only, no units (e.g. \"45000\" means 45 seconds watched)\n- score: 0-100 (50=average, 80+=strong, 100=viral)\n- explanation: one sentence\n\nKPIs: ${kpis.join(', ')}\n\nRespond ONLY with valid JSON (no markdown):\n{\n  \"results\": [\n    { \"kpi_name\": \"Impressions\", \"predicted_value\": \"12.5K\", \"score\": 68, \"explanation\": \"Good hook will drive solid impression volume.\" }\n  ]\n}`;\n\nconst requestBody = JSON.stringify({\n  contents: [{ parts: [{ text: scorePrompt }] }],\n  generationConfig: { temperature: 0.3, maxOutputTokens: 2048 }\n});\n\nreturn [{\n  json: {\n    geminiApiKey: prevData.geminiApiKey,\n    requestId: prevData.requestId,\n    requestBody\n  }\n}];"
      },
      "id": "build-gemini-score-request",
      "name": "Build Gemini Score Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=' + $json.geminiApiKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "gemini-score-kpis",
      "name": "Gemini Score KPIs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse final Gemini KPI scores\nconst apiResponse = $input.first().json;\nconst requestId = $('Build Gemini Score Request').item.json.requestId;\n\nconst content = apiResponse.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\nlet scoring;\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  scoring = JSON.parse(jsonMatch ? jsonMatch[0] : content);\n} catch (e) {\n  scoring = { results: [] };\n}\n\nreturn [{ json: { requestId, results: scoring.results || [] } }];"
      },
      "id": "parse-score-response",
      "name": "Parse Score Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Secrets').item.json.APP_CALLBACK_URL || 'http://localhost:3000' }}/api/webhook/results",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-callback",
      "name": "Callback to App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Secrets", "type": "main", "index": 0 }]
      ]
    },
    "Secrets": {
      "main": [
        [{ "node": "Inject Credentials", "type": "main", "index": 0 }]
      ]
    },
    "Inject Credentials": {
      "main": [
        [{ "node": "Download Video", "type": "main", "index": 0 }]
      ]
    },
    "Download Video": {
      "main": [
        [{ "node": "Upload to Gemini Files", "type": "main", "index": 0 }]
      ]
    },
    "Upload to Gemini Files": {
      "main": [
        [{ "node": "Wait for Processing", "type": "main", "index": 0 }]
      ]
    },
    "Wait for Processing": {
      "main": [
        [{ "node": "Build Gemini Extract Request", "type": "main", "index": 0 }]
      ]
    },
    "Build Gemini Extract Request": {
      "main": [
        [{ "node": "Gemini Extract Tags", "type": "main", "index": 0 }]
      ]
    },
    "Gemini Extract Tags": {
      "main": [
        [{ "node": "Build Gemini Score Request", "type": "main", "index": 0 }]
      ]
    },
    "Build Gemini Score Request": {
      "main": [
        [{ "node": "Gemini Score KPIs", "type": "main", "index": 0 }]
      ]
    },
    "Gemini Score KPIs": {
      "main": [
        [{ "node": "Parse Score Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse Score Response": {
      "main": [
        [{ "node": "Callback to App", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
